In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
#INDEX LEVELS
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index  = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B']) #cria uma df, com 2 niveis de index

In [8]:
df

             A         B
G1 1 -0.677970  0.405939
   2 -0.179001 -0.087715
   3  0.483690  0.085641
G2 1 -0.656796 -0.039531
   2 -0.285466 -0.625533
   3  1.647650 -0.562186

In [9]:
df.loc['G1'] #tudo de G1

          A         B
1 -0.677970  0.405939
2 -0.179001 -0.087715
3  0.483690  0.085641

In [10]:
df.loc['G1'].loc[1] #dentro do G1, queremos a linha 1

A   -0.677970
B    0.405939
Name: 1, dtype: float64

In [11]:
df.index.names = ['Groups','Num'] #atribuimos um nome Ã s colunas dos niveis index

In [12]:
df

                   A         B
Groups Num
G1     1   -0.677970  0.405939
       2   -0.179001 -0.087715
       3    0.483690  0.085641
G2     1   -0.656796 -0.039531
       2   -0.285466 -0.625533
       3    1.647650 -0.562186

In [15]:
df.loc['G2'].loc[2].loc['A']

-0.28546596241672784

In [19]:
df.xs(1,level='Num') #penetramos nos grupos atravÃ©s de xs (cross section)

               A         B
Groups
G1     -0.677970  0.405939
G2     -0.656796 -0.039531