In [1]:
import numpy as np

In [5]:
import pandas as pd

In [3]:
labels = ['a', 'b','c'] #list
my_data = [10,20,30] #data
arr = np.array(my_data) #array
d= {'a':10, 'b':20,'c':30} #dicionario

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data,labels) #é igual, desde que seja colocado na ordem certa

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: Int64

In [10]:
pd.Series(d) #o dicionario simplifica muito mais

a    10
b    20
c    30
dtype: int64

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
pd.Series(data=[sum,print,len]) #podemos usar funçoes, o que nao podiamos fazer com numpy

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],['USA','Alemanha','USSR','Japao'])

In [14]:
ser1

USA         1
Alemanha    2
USSR        3
Japao       4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],['USA','Alemanha','Italia','Japao'])

In [16]:
ser2

USA         1
Alemanha    2
Italia      5
Japao       4
dtype: int64

In [17]:
ser2[1]

2

In [18]:
ser2['USA'] #temos de ter em atençao o tipo do index

1

In [20]:
ser1 + ser2 #aqueles que o index nao coincide, aparece null. mm sendo int, passa a float

Alemanha    4.0
Italia      NaN
Japao       8.0
USA         2.0
USSR        NaN
dtype: float64